<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moujitx.metro.server.mapper.BindMapper">

    <resultMap id="BaseResultMap" type="com.moujitx.metro.server.entity.Bind">
            <id property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="lineCode" column="line_code" jdbcType="VARCHAR"/>
            <result property="stationCode" column="station_code" jdbcType="VARCHAR"/>
            <result property="order" column="order" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,line_code,station_code,order
    </sql>
</mapper>
