<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moujitx.metro.server.mapper.LineMapper">

    <resultMap id="BaseResultMap" type="com.moujitx.metro.server.entity.Line">
            <id property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="cityCode" column="city_code" jdbcType="VARCHAR"/>
            <result property="lineCode" column="line_code" jdbcType="VARCHAR"/>
            <result property="lineName" column="line_name" jdbcType="VARCHAR"/>
            <result property="lineEn" column="line_en" jdbcType="VARCHAR"/>
            <result property="lineCycle" column="line_cycle" jdbcType="TINYINT"/>
            <result property="lineColor" column="line_color" jdbcType="VARCHAR"/>
            <result property="typeCode" column="type_code" jdbcType="VARCHAR"/>
            <result property="enableDate" column="enable_date" jdbcType="DATE"/>
            <result property="lineCompany" column="line_company" jdbcType="VARCHAR"/>
            <result property="lineLogo" column="line_logo" jdbcType="VARCHAR"/>
            <result property="lineStatus" column="line_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,city_code,line_code,line_name,line_en,line_cycle,
        line_color,type_code,enable_date,line_company,line_logo,
        line_status
    </sql>
</mapper>
