<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moujitx.metro.server.mapper.StationMapper">

    <resultMap id="BaseResultMap" type="com.moujitx.metro.server.entity.Station">
            <id property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="cityCode" column="city_code" jdbcType="VARCHAR"/>
            <result property="stationName" column="station_name" jdbcType="VARCHAR"/>
            <result property="stationEn" column="station_en" jdbcType="VARCHAR"/>
            <result property="stationLongitude" column="station_longitude" jdbcType="DOUBLE"/>
            <result property="stationLatitude" column="station_latitude" jdbcType="DOUBLE"/>
            <result property="enableDate" column="enable_date" jdbcType="DATE"/>
            <result property="stationStatus" column="station_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,city_code,station_name,station_en,station_longitude,station_latitude,
        enable_date,station_status
    </sql>
</mapper>
