<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moujitx.metro.server.mapper.TypeMapper">

    <resultMap id="BaseResultMap" type="com.moujitx.metro.server.entity.Type">
            <id property="typeCode" column="type_code" jdbcType="VARCHAR"/>
            <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
            <result property="typeLevel" column="type_level" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        type_code,type_name,type_level
    </sql>
</mapper>
